<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- mapper file: 실행 할 쿼리 문을 저장하는 파일. 테이블 하나당 한개씩 작성 namespace: 작업하는 테이블들을 
	구분해주기 위한 식별자 -->
<mapper namespace="com.ssafy.mapper.NoticeMapper">

	<select id="noticeList" resultType="Notice">
		select * from notice
	</select>
	
	<select id="selectNotice" resultType="Notice" parameterType="string">
		select * from notice where noticeNo = #{noticeNo}
	</select>
	
	<insert id="noticeInsert" parameterType="Notice">
		insert into notice(id, title, content, hit, regtime) values(#{id}, #{title}, #{content}, 0, sysdate())
	</insert>
	
	<update id="updateHit" parameterType="string">
		update notice
		set hit = hit + 1
		where noticeNo = #{noticeNo}
	</update>
	
	<update id="noticeUpdate" parameterType="Notice">
		update notice set title = #{title}, content = #{content} where noticeNo = #{noticeNo}
	</update>
	
	<delete id="noticeDelete" parameterType="string">
		delete from notice where noticeNo = #{noticeNo}
	</delete>

	
</mapper>


