<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- mapper file: 실행 할 쿼리 문을 저장하는 파일. 테이블 하나당 한개씩 작성 namespace: 작업하는 테이블들을 
	구분해주기 위한 식별자 -->
<mapper namespace="com.ssafy.mapper.QnaMapper">

	<select id="qnaList" resultType="Qna">
		select * from qna
	</select>
	
	<select id="selectQna" resultType="Qna" parameterType="string">
		select * from qna where qnaNo = #{qnaNo}
	</select>
	
	<insert id="qnaInsert" parameterType="Qna">
		insert into qna(id, title, content, hit, regtime) values(#{id}, #{title}, #{content}, 0, sysdate())
	</insert>
	
	<update id="updateHit" parameterType="string">
		update qna
		set hit = hit + 1
		where qnaNo = #{qnaNo}
	</update>
	
	<update id="qnaUpdate" parameterType="Qna">
		update qna set title = #{title}, content = #{content} where qnaNo = #{qnaNo}
	</update>
	
	<delete id="qnaDelete" parameterType="string">
		delete from qna where qnaNo = #{qnaNo}
	</delete>

	
</mapper>


